//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: toRem(2) toRem(0);
  border-bottom: 1px solid #d3d3d3;

  color: #000;
  font-family: "Inter Tight";
  font-size: toRem(20);
  font-weight: 400;
  line-height: 120%; /* 24/20 */

  &:focus {
    outline: none;
    border-color: #000;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
