.blog {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-transform: uppercase;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);

    @include adaptiveValue("margin-bottom", 40, 30);

    @media (max-width: $mobile) {
      //   flex-direction: column;
    }
  }

  &__navigation {
    @media (min-width: $mobile) {
      display: none;
    }
    align-self: flex-end;
  }

  &__items {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(40);
    grid-template-columns: repeat(auto-fill, minmax(toRem(330), 1fr));
  }

  &__slider {
    @media (min-width: $pc) {
      overflow: hidden;
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__link {
    margin-right: auto;
    margin-left: auto;
    @include adaptiveValue("margin-top", 60, 30);
    padding: toRem(15) toRem(50);

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

.item-blog {
  &__image-ibg {
    display: block;
    padding-bottom: 100%;
    margin-bottom: toRem(20);

    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      transition: transform 0.3s ease 0s;
    }
  }

  &__content {
    display: grid;
    gap: toRem(10);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%; /* 24/20 */

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #004d43;
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 120%; /* 19.2px */
  }

  &__date {
    font-size: 14px;
    font-weight: 300;
    line-height: 120%; /* 16.8px */
  }
}

//========================================================================================================================================================

.blog-article {
  padding-top: toRem(15);
  @include adaptiveValue("padding-bottom", 50, 30);
  &__container {
    max-width: toRem(829);
  }

  &__body {
    img {
      max-width: 100%;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 40, 30);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000;
      font-family: "Inter Tight";
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 600;
      line-height: 130%; /* 31.2px */

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 40, 20);
      }
    }

    p {
      color: #000;
      text-align: justify;
      font-family: "Inter Tight";
      @include adaptiveValue("font-size", 24, 16);
      font-weight: 300;
      line-height: 130%; /* 31.2px */

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15);
      }
    }
  }

  &__date {
    color: #131010;
    font-family: "Inter Tight";
    font-size: toRem(14);
    font-weight: 300;
    line-height: 130%; /* 18.2px */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
}
