// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

%scrollbar {
  /* Общие стили для скроллбара */
  &::-webkit-scrollbar {
    width: toRem(3); /* Ширина скроллбара */
  }

  /* Стили для ползунка (thumb) скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #004d43; /* Цвет ползунка */
    border-radius: toRem(2); /* Закругление углов ползунка */
  }

  /* Стили для трека (track) скроллбара */
  &::-webkit-scrollbar-track {
    background-color: #dbd6d2; /* Цвет трека */
  }
}

//========================================================================================================================================================
