// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #000;
  font-family: "TT Hoves";
  @include adaptiveValue("font-size", 48, 24);
  font-weight: 500;
  line-height: 118.8%; /* 57/48 */

  span {
    color: #004d43;
  }

  &_white {
    color: #fff;
  }
}

.maintitle {
  color: #000;
  font-family: "TT Hoves";
  @include adaptiveValue("font-size", 78, 30);
  font-weight: 500;
  line-height: 118.8%; /* 57/48 */

  span {
    color: #004d43;
  }

  &_white {
    color: #fff;
  }
}

.text {
  color: #000;
  text-align: justify;
  font-family: "Inter Tight";
  @include adaptiveValue("font-size", 30, 18);
  font-weight: 300;
  line-height: 130%; /* 39px */

  span {
    color: #004d43;
  }

  &_white {
    color: #fff;
  }

  p {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
}

//========================================================================================================================================================

.navigation {
  pointer-events: none;
  display: flex;
  gap: toRem(10);
  &__button {
    pointer-events: all;
    @include adaptiveValue("width", 55, 40);
    @include adaptiveValue("height", 55, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("font-size", 25, 20);

    color: #004d43;

    border: toRem(1) solid #004d43;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #004d43;
        color: #fff;
      }
    }

    &.swiper-button-disabled {
      opacity: 0.4;
    }
  }
}
.button-prev {
}

.button-next {
}

//========================================================================================================================================================

.back {
  color: #000;
  font-family: "Inter Tight";
  @include adaptiveValue("font-size", 20, 16);
  font-weight: 400;
  line-height: 120%; /* 24/20 */

  display: flex;
  align-items: center;
  gap: toRem(10);

  &::before {
    content: "\e901";
    @extend %ic;

    font-size: toRem(12);
  }

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: #004d43;
    }
  }
}

//========================================================================================================================================================

.fancybox__container {
  max-width: none;
}

//========================================================================================================================================================

%scrollbar {
  /* Общие стили для скроллбара */
  &::-webkit-scrollbar {
    width: toRem(3); /* Ширина скроллбара */
  }

  /* Стили для ползунка (thumb) скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #004d43; /* Цвет ползунка */
    border-radius: toRem(2); /* Закругление углов ползунка */
  }

  /* Стили для трека (track) скроллбара */
  &::-webkit-scrollbar-track {
    background-color: #dbd6d2; /* Цвет трека */
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: toRem(5);
  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    width: toRem(15);
    height: toRem(15);
    background-color: #c6c8c7;
    border-radius: 50%;

    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #004d43;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #004d43;
  }
}
